*{
    box-sizing: border-box;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Bold.ttf);
  }
  header {
    background-image: url("../img/digital-art-artwork-illustration-city-cityscape-night-2178067-wallhere\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 1024px;
  }
  .id {
    margin-left: 126px;
  }
   .id1 {
    margin-left: 55px;
    margin-top: 35px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap; 
  }
  
  .font {
    padding-top: 24px;
  }
  .id2{
    margin-top:35px ;
    margin-left:42px ;
  }
  .id3{
    margin-top: 35px;
    margin-left: 28px;
  }
  
  .bt{
    margin-top: 34px;
    margin-left: 26px;
    background: white !important;
    padding: 10px 24px;
    font-family: 'Montserrat' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #000000 !important; 
    text-decoration: none;
    white-space: nowrap; 
  }

.container {
    padding: 16px;
  }
  
  input[type=text], input[type=password] {
    width: 507px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  form{
    display:grid;
    justify-content: center;
    padding-top: 38px;
  }
  .id10{
    height: 180px;
    text-align: start;
  }
  .h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
   text-align: center;
   padding-top: 265px;
}
.p1{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 25px;
}
footer{
  background: #090A26;
  background-size: cover;
}
.t1{
  border-bottom: 1px solid #502356;
  padding-top: 130px;
}
.box.t2{
  margin-left: 119px;
  max-width: 400px;
}
.box.t2 img{
  padding-top: 120px;
}
.card.t3{
--bs-card-bg: ;
}


.t4 p{
  color: #fff;
}
.t5{
  color: #fff;
}
.tt{
  padding-left: 58px;
}
.tt1{
  padding-left: 58px;
}
.car {
  display: flex;
  position: absolute;
  margin-left: 669px;
  
}
.car ul li {
  list-style-type: none;
}
.car ul li a {
  text-decoration: none;
  color: white;

}
.car .ul {
  margin-left: 160px;
   padding-top: 20px;
}
.rame {
  margin-left: 120px;
  margin-top: 120px;
  max-width: 391px;
  min-height: 173px;
  color: white;
}
.rame1{
  margin-top: 32px;
}
.icon i{ 
  color: #FFFFFF;
  text-decoration: none;

}
